/AuthService/*
/AuthWinterService
/GeneralService/*
/NginxProxyService/*
/PhotoService/*
/AuthWinterService
/NewsGeneralService
/AuthWinterService
/SchoolWinterSportService
pgdata
!Dockerfile
!.dockerignore
.DS_Store
.vscode